
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	background: #fa7d1e;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	color: #00078a;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #00078a;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #5BA689;
}

a:hover {
}

#wrapper {
	overflow: hidden;
	background: #ffd2ab;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 600px;
}

#header {
	width: 960px;
	height: 200px;
	margin: 0 auto;
	padding: 0px 20px;
}

/* Logo */

#logo {
	overflow: hidden;
	height: 150px;
}

#logo h1, #logo p {
	text-align: center;
}

#logo h1 {
	padding: 5px 0px 20px 0px;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-size: 80px;
	font-family: Merriweather, serif;
}

#logo p {
	margin-top: -20px;
	padding: 0px 0px 0px 5px;
	font-size: 20px;
	font-weight: 300;
	color: #00078a;
}

#logo p a {
	color: #00078a;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: fa7d1e;
}


/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 52px;
	margin-bottom: 2em;
	background: #fa7d1e;
}

#menu {
	overflow: hidden;
	height: 52px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 30px;
	line-height: 52px;
	border: none;
	text-decoration: none;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #00078a;
}

#menu a:hover, #menu .current_page_item a {
	background: #bd5d15;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	overflow: hidden;
	padding: 20px 20px 40px 20px;
}

/* Content */

#content {
	float: left;
	width: 752px;
	padding: 0px 0px 0px 0px;
}


/* Footer */

#footer {
	height: 100px;
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	text-shadow: 1px 1px 0px #d2d4fa;
	color: #00078a;
}

#footer a {
	text-decoration: underline;
	color: #00078a;
}

#footer a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.box1 {
	overflow: hidden;
	height: 300px;
	background: url(images/img04.jpg) no-repeat center bottom;
}


/* Three Column Content */

#three-column {
	overflow: hidden;
	padding: 10px 0px 50px 0px;
}

#three-column .tbox1 {
	float: left;
	width: 384px;
	margin-right: 20px;
}

#three-column .tbox2 {
	float: left;
	width: 384px;
}

#three-column .tbox3 {
	float: right;
	width: 384px;
}

.box-style {
	background: #d2d4fa;
	text-align: center;
	border: 4px;
	border-color: #fa7d1e;
	border-style: solid; 
}

.box-style h2 {
	padding: 10px 0px;
	letter-spacing: -1px;
	font-size: 22px;
	color: #fa7d1e;
}

.box-style .content {
	overflow: hidden;
	width: 324px;
	padding: 30px;
}

.button
{
	display: inline-block;
	margin: 1em 0em;
	background: #00078a;
	padding: 1em 2em;
	color: #d2d4fa;
	outline-color:#fa7d1e;
	padding: 20px;
	outline-style: solid;

}

.button:hover {
	text-decoration: none;
	color: #fa7d1e;

}



















































